bin/
z64scene

__include/*
compile_flags.txt
*.png
*.json
*.zobj
!geometry/*.zobj
*.cfg
check.sh
.log
*.exe
*.zroom
*.zscene
settings.mk
asm_linux.sh
asm_win32.sh
*.anim
*.blend
*.blend1
*.mtlex
*.objex
*.skel
*.txt
!assets/3D/*.zobj
