bin/
z64scene

__include/*
compile_flags.txt
*.json
*.zobj
!geometry/*.zobj
*.cfg
check.sh
.log
*.exe
*.zroom
*.zscene
settings.mk
asm_linux.sh
asm_win32.sh
*.anim
*.blend
*.blend1
*.mtlex
*.objex
*.skel
*.obj
*.txt
!assets/3D/*.zobj
ExtLib/
*.zsp
._*
*.yroom
*.yscene
assets/3D/z64convert-cli
app_win32
app_linux

# IDEs
.idea
.vscode